.honeyfarm {
  padding-bottom: 14px;
  padding-top: 14px;
  padding-left: 20px;
  border: 20px 0; }

.honeyfarm a {
  font-family: 'Gloria Hallelujah';
  font-size: 38px;
  color: #F5AE07;
  text-shadow: 1px 1px 2px black, 0 0 25px #F5B92C, 0 0 5px #E6A510;
  text-decoration: none; }

body p {
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  line-height: 1.42857143;
  color: #333;
  height: 100%;
  text-decoration: none; }

.topnav {
  display: block;
  margin-top: 20px;
  background-color: #F5AE07;
  overflow: hidden; }

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px; }

.topnav a:hover {
  background-color: #F7D23E;
  color: black; }

.topnav a:active {
  background-color: #F7DF3E;
  color: white; }

.topnav .selected {
  background-color: #F7D23E;
  color: white; }

footer {
  display: block;
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.9);
  position: absolute; }

footer a {
  float: left;
  line-height: 18px;
  padding: 14px;
  font-size: 14px;
  color: #adadad;
  text-decoration: none; }

.homepage footer {
  position: absolute;
  bottom: 0; }

h2 {
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  display: inline-block;
  position: relative;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 20px 0;
  border-bottom: 3px solid #F5AE07; }

.hometext {
  display: block;
  text-align: center;
  vertical-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 20px 20px; }

.hometext h2 {
  font-family: 'Caveat';
  font-size: 64px;
  color: #F5AE07;
  text-shadow: 1px 1px 2px black;
  font-weight: 300;
  padding: 50px;
  text-align: center;
  vertical-align: center;
  border-bottom: none;
  text-transform: none; }

.promo {
  font-family: 'Caveat';
  font-size: 32px;
  color: #F5AE07;
  text-shadow: 1px 1px 2px black;
  text-align: right;
  padding-right: 20px;
  float: right;
  padding-top: 14px;
  border: 20px 0; }

.homepage {
  background: url("./../img/honeytable.jpg");
  background-size: cover;
  flex-wrap: wrap;
  animation: mymove 15s; }

@keyframes mymove {
  50% {
    background: url("./../img/honeysky.jpg"); } }

.homepage .topnav {
  background-color: rgba(51, 51, 51, 0.5);
  overflow: hidden; }

.homepage .topnav a:hover {
  background-color: inherit;
  color: #F5AE07; }

.img-about {
  display: inline-block;
  max-width: 100%; }

input, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

button {
  width: 250px;
  color: #333;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.contact-form {
  border-radius: 5px;
  padding: 20px; }

.container {
  width: auto; }

.content {
  width: auto;
  display: inline-block; }

.about {
  position: absolute;
  display: block;
  float: left;
  width: 50%;
  padding: 0 2% 50px 3%; }

.block {
  display: block;
  float: left;
  padding: 0 2% 50px 3%; }

.map {
  padding: 10px 0.2% 10px 0.2%; }
