.homepage {
  background: url('./../img/honeytable.jpg');
  background-size:cover;
  flex-wrap: wrap;
  animation: mymove 15s;
  @keyframes mymove {
     50% {background: url('./../img/honeysky.jpg');}
 }
}

.homepage   .topnav {
  background-color: rgba(51, 51, 51, 0.5);
  overflow: hidden;
  }


.homepage .topnav a:hover {
  background-color: inherit;
  color: #F5AE07;
}



.img-about {
  display: inline-block;
  max-width: 100%;
     }
