.container {
    width:auto;
}

.content {
    width:auto;
    display: inline-block;
}

.about {
  position: absolute;
  display: block;
  float: left;
  width: 50%;
  padding: 0 2% 50px 3%;
}

.block {
  display: block;
  float: left;
  padding: 0 2% 50px 3%;
}

.map {
  padding: 10px 0.2% 10px 0.2%;

}
